.todo-card {
    color: #3C3C3B;
    
    .todo-card__button {
        padding: 5px;
        background-color: #0000;
        border: 3px #F0BA4E solid;
        border-radius: 54px;
        font-size: 13px;        
    }
    
    .todo-card__author {
        color: #A1A0A0;
    }

    .todo-card__text {
        font-size: 20px;
    }

    .todo-card__title {
        font-size: 16px;
    }

    .todo-card__label {
        font-size: 14px;
    }

    .todo-card__status {
        font-size: 15px;
        margin-bottom: 7px;
    }
}