<header class="header">
    <div class=" header-wrapper container">
        <div class="header__logo-nav">
            <a href="#" class="header__logo"></a>
            <nav class="header__nav">
                <a href="#" class="header__link">{{ home }}</a>
                <a href="#" class="header__link">{{ aboutCompany }}</a>
                <a href="#" class="header__link" *ngIf="isShowCatalog">{{ headerItem3 }}</a>
            </nav>
            <button type="button" (click)="changeMenuText()">изменить текст</button>
            <button [routerLink]="['/users']">Пользователи</button>
            <button [routerLink]="['/todos']">todos</button>
        </div>
        <div class="header__actions">
            <a href="tel:+79650842929" class="header__phone">
                +7 (965) 084-29-29
            </a>
            <a href="" class="header__favorite"></a>
            <a href="#" class="header__cart">Пусто</a>
        </div>
        <span class="header__date">
            {{ today | date: 'medium' }}
        </span>
    </div>
</header>
<header class="header-secondary">
    <div class="container header-secondary-wrapper">
        <div class="header-secondary__nav">
            <button class="header__link_burger"></button>
            <div class="header-secondary__menu">
                <button type="button" *ngFor="let item of menuItems">{{ item }}</button>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной ">
            <button class="search-button">
                <img src="../assets/search.svg" alt="Иконка поиска">
            </button>
        </div>
        <button class="location">
            <img src="../assets/location.svg" alt="Иконка местоположения" class="location-icon">
            <span class="location-text">Москва</span>
        </button>
    </div>
</header>