.users {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FBFBFB;
}

.users-list {
    width: 220px;
    height: 200px;
    margin: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 50px 0px rgba(60, 60, 59, 0.0705882353);;
    color: #3C3C3B;
}