<div class="container">
    <form class="todo-form" [formGroup]="todoForm">
        <h1 class="todo-form__title">CREATE TODO FORM</h1>

        <mat-form-field class="todo-form__field">
            <mat-label>Название задачи</mat-label>
            <input matInput type="text" formControlName="title" />
            <mat-error>
                Название задачи некорректно
            </mat-error>
        </mat-form-field>

        <mat-form-field class="todo-form__field">
            <mat-label>Автор задачи</mat-label>
            <input matInput type="text" formControlName="userId" />
            <mat-error>
                Автор задачи некорректен
            </mat-error>
        </mat-form-field>

        <mat-form-field class="todo-form__field">
            <mat-label>Задача завершена?</mat-label>
            <input matInput type="text" formControlName="completed" placeholder="Да/Нет" />
            <mat-error>
                ответ некорректен
            </mat-error>
        </mat-form-field>

        <mat-dialog-actions align="end">
            <button type="button" mat-dialog-close mat-raised-button matTooltip="Отмена">Cancel</button>
            <button class="todo-form__button" type="button" (click)="submitForm()" [disabled]="todoForm.invalid"
                mat-raised-button color="primary" matTooltip="Сохранить и создать задачу">
                CREATE TODO
            </button>
        </mat-dialog-actions>
    </form>
</div>