<footer class="footer">
    <div class="footer__container container">
        <div class="footer__info">
            <a href="#" class="header__logo"></a>
            <div class="footer__contacts">
                <div class="footer__contact">
                    <span class="footer__contact-icon" aria-hidden="true">Контактный телефон</span>
                    <div class="footer__contact-details">
                        <a href="tel:+78123090934" class="footer__contact-link">+7 (812) 309-09-34</a> <br>
                        <a href="tel:+79650842909" class="footer__contact-link">+7 (965) 084-29-09</a>
                    </div>
                </div>
                <div class="footer__contact">
                    <span class="footer__message-icon" aria-hidden="true">Электронная почта</span>
                    <div class="footer__contact-details">
                        <a href="mailto:tustin78@mail.ru" class="footer__contact-link">tustin78&#64;mail.ru</a> <br>
                        <a href="mailto:info@tustin.ru" class="footer__contact-link">info&#64;tustin.ru</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__form-section">
            <h2 class="footer__form-title">Остались вопросы?</h2>
            <p class="footer__form-description">
                Узнавайте первым о скидках, предложениях и событиях еженедельно в своём почтовом ящике. Отпишитесь в
                любое время одним щелчком мыши.
            </p>
            <form action="#" method="POST" class="footer__form">
                <label for="footer-email" class="footer__form-label">
                    <span class="footer__form-icon" aria-hidden="true"></span>
                    <input type="email" id="footer-email" name="email" placeholder="Введите свою почту"
                        class="footer__form-input" required />
                </label>
                <button type="submit" class="footer__form-button">Отправить</button>
            </form>
        </div>
        <div class="footer__bottom">
            <nav class="footer__nav">
                <a href="#" class="footer__link">Главная</a>
                <a href="#" class="footer__link">О компании</a>
                <a href="#" class="footer__link">Каталог</a>
            </nav>
            <div class="footer__socials">
                <div class="footer__socials-links">
                    <a href="#" class="footer__social-fb"></a>
                    <a href="#" class="footer__social-youtube"></a>
                    <a href="#" class="footer__social-whatsapp"></a>
                </div>

                <p class="footer__copyright">© 2021–2022, EDE</p>
            </div>
        </div>
    </div>

</footer>