<header class="header">
    <div class=" header-wrapper container">
        <div class="header__logo-nav">
            <a href="#" class="header__logo"></a>
            <nav class="header__nav">
                <a href="#" class="header__link">Главная</a>
                <a href="#" class="header__link">{{aboutCompany}}</a>
                <a href="#" class="header__link">{{headerItem3}}</a>
            </nav>
            <button type="button" (click)="changeMenuText()">изменить текст</button>
        </div>
        <div class="header__actions">
            <a href="tel:+79650842929" class="header__phone">
                +7 (965) 084-29-29
            </a>
            <a href="" class="header__favorite"></a>
            <a href="#" class="header__cart">Пусто</a>
        </div>
    </div>
</header>
<header class="header-secondary">
    <div class="container header-secondary-wrapper">
        <div class="header-secondary__nav">
            <button class="header__link_burger"></button>
            <div class="header-secondary__menu">
                <div *ngFor="let item of menuItems">{{item}}</div>
            </div>
        </div>

        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной ">
            <button class="search-button">
                <img src="../assets/search.svg" alt="Иконка поиска">
            </button>
        </div>
        <button class="location">
            <img src="../assets/location.svg" alt="Иконка местоположения" class="location-icon">
            <span class="location-text">Москва</span>
        </button>
    </div>
</header>
<button (click)='isShowImg = !isShowImg'>скрывать/показывать мужика</button>
<section class="hero" *ngIf='isShowImg'>

</section>
<div class="container">
    <ul class="features">
        <li class="features__item">
            <img src="../assets/brick.png" alt="brick_icon" class="features__icon">
            <p class="features__text"> <span>Большой ассортимент</span> <br>
                строительных материалов всегда в наличии</p>
        </li>
        <li class="features__item">
            <img src="../assets/delivery.png" alt="delivery_icon" class="features__icon">
            <p class="features__text"> <span>Доставка стройматериалов</span> <br>
                в течении четырех часов или в любое удобное время</p>
        </li>
        <li class="features__item">
            <img src="../assets/good.png" alt="good_icon" class="features__icon">
            <p class="features__text"> Многоуровневая <span>система управления качеством</span> <br>
                по стандарту ISO 9001</p>
        </li>
    </ul>
</div>

<section class="categories">
    <div class="container">
        <div class="categories__header">
            <div class="pagination">
                <button class="pagination__btn" type="button" *ngFor="let item of newPages">{{item}}</button>
            </div>
        </div>
        <div class="categories__grid">
            <div class="categories__item large">
                <h3 class="categories__title">Строительный отделочный инструмент</h3>
                <a href="#" class="categories__link">Перейти в каталог </a>
            </div>
            <div class="categories__item enamels">
                <h3 class="categories__title title__enamels">Эмали</h3>
                <a href="#" class="categories__link">Перейти в каталог </a>
            </div>
            <div class="categories__item materials">
                <h3 class="categories__title">Лакокрасочные <br> материалы</h3>
                <a href="#" class="categories__link btn__left">Перейти в каталог </a>
            </div>
            <div class="categories__item foams">
                <h3 class="categories__title">Пены, клеи и <br> герметики</h3>
                <a href="#" class="categories__link btn__left">Перейти в каталог </a>
            </div>
            <div class="categories__item extension">
                <h3 class="categories__title">Розетки и выключатели</h3>
                <a href="#" class="categories__link">Перейти в каталог </a>
            </div>
        </div>
    </div>
</section>
<section class="popular-products">
    <div class="container">
        <div class="popular-products__header">
            <h3 class="popular-products__title">Популярные товары</h3>
            <a href="#" class="view-all">Посмотреть все товары</a>
        </div>
        <div class="popular-products__list">
            <article class="product-card product-card--discount">
                <div class="product-card__badge">%</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-old">52 руб.</span>
                    <span class="product-card__price-new">48 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__badge">%</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-old">52 руб.</span>
                    <span class="product-card__price-new">48 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__badge product-card__badge-combined">%</div>
                <div class="product-card__new">Новинка</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-old">52 руб.</span>
                    <span class="product-card__price-new">48 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
        </div>
    </div>
</section>
<div class="container">
    <section class="promo">
        <div class="promo__content">
            <h3 class="promo__title">Более 10 000 наименований </h3>
            <p class="promo__text">Инструмент для вашего бизнеса, разнообразных марок</p>
            <a href="#" class="promo__link">Перейти в каталог</a>
        </div>
    </section>
</div>
<section class="popular-products">
    <div class="container">
        <div class="popular-products__header">
            <h3 class="popular-products__title">Новинки</h3>
            <a href="#" class="view-all">Посмотреть все товары</a>
        </div>
        <div class="popular-products__list">
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__badge product-card__badge-combined">%</div>
                <div class="product-card__new">Новинка</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer__container container">
        <div class="footer__info">
            <a href="#" class="header__logo"></a>
            <div class="footer__contacts">
                <div class="footer__contact">
                    <span class="footer__contact-icon" aria-hidden="true">Контактный телефон</span>
                    <div class="footer__contact-details">
                        <a href="tel:+78123090934" class="footer__contact-link">+7 (812) 309-09-34</a> <br>
                        <a href="tel:+79650842909" class="footer__contact-link">+7 (965) 084-29-09</a>
                    </div>
                </div>
                <div class="footer__contact">
                    <span class="footer__message-icon" aria-hidden="true">Электронная почта</span>
                    <div class="footer__contact-details">
                        <a href="mailto:tustin78@mail.ru" class="footer__contact-link">tustin78&#64;mail.ru</a> <br>
                        <a href="mailto:info@tustin.ru" class="footer__contact-link">info&#64;tustin.ru</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__form-section">
            <h2 class="footer__form-title">Остались вопросы?</h2>
            <p class="footer__form-description">
                Узнавайте первым о скидках, предложениях и событиях еженедельно в своём почтовом ящике. Отпишитесь в
                любое время одним щелчком мыши.
            </p>
            <form action="#" method="POST" class="footer__form">
                <label for="footer-email" class="footer__form-label">
                    <span class="footer__form-icon" aria-hidden="true"></span>
                    <input type="email" id="footer-email" name="email" placeholder="Введите свою почту"
                        class="footer__form-input" required />
                </label>
                <button type="submit" class="footer__form-button">Отправить</button>
            </form>
        </div>
        <div class="footer__bottom">
            <nav class="footer__nav">
                <a href="#" class="footer__link">Главная</a>
                <a href="#" class="footer__link">О компании</a>
                <a href="#" class="footer__link">Каталог</a>
            </nav>
            <div class="footer__socials">
                <div class="footer__socials-links">
                    <a href="#" class="footer__social-fb"></a>
                    <a href="#" class="footer__social-youtube"></a>
                    <a href="#" class="footer__social-whatsapp"></a>
                </div>

                <p class="footer__copyright">© 2021–2022, EDE</p>
            </div>
        </div>
    </div>

</footer>