<button (click)='isShowImg = !isShowImg'>скрывать/показывать мужика</button>
<section class="hero" *ngIf='isShowImg'>

</section>
<div class="container">
    <ul class="features">
        <li class="features__item">
            <img src="../../../assets/brick.png" alt="brick_icon" class="features__icon">
            <p class="features__text"> <span>Большой ассортимент</span> <br>
                строительных материалов всегда в наличии</p>
        </li>
        <li class="features__item">
            <img src="../../../assets/delivery.png" alt="delivery_icon" class="features__icon">
            <p class="features__text"> <span>Доставка стройматериалов</span> <br>
                в течении четырех часов или в любое удобное время</p>
        </li>
        <li class="features__item">
            <img src="../../../assets/good.png" alt="good_icon" class="features__icon">
            <p class="features__text"> Многоуровневая <span>система управления качеством</span> <br>
                по стандарту ISO 9001</p>
        </li>
    </ul>
</div>

<section class="categories">
    <div class="container">
        <div class="categories__header">
            <div class="pagination">
                <button class="pagination__btn" type="button" *ngFor="let item of newPages">{{ item }}</button>
            </div>
        </div>
        <div class="categories__grid">
            <div class="categories__item large">
                <h3 class="categories__title">Строительный отделочный инструмент</h3>
                <a href="#" class="categories__link">Перейти в каталог </a>
            </div>
            <div class="categories__item enamels">
                <h3 class="categories__title title__enamels">Эмали</h3>
                <a href="#" class="categories__link">Перейти в каталог </a>
            </div>
            <div class="categories__item materials">
                <h3 class="categories__title">Лакокрасочные <br> материалы</h3>
                <a href="#" class="categories__link btn__left">Перейти в каталог </a>
            </div>
            <div class="categories__item foams">
                <h3 class="categories__title">Пены, клеи и <br> герметики</h3>
                <a href="#" class="categories__link btn__left">Перейти в каталог </a>
            </div>
            <div class="categories__item extension">
                <h3 class="categories__title">Розетки и выключатели</h3>
                <a href="#" class="categories__link">Перейти в каталог </a>
            </div>
        </div>
    </div>
</section>
<section class="popular-products">
    <div class="container">
        <div class="popular-products__header">
            <h3 class="popular-products__title">Популярные товары</h3>
            <a href="#" class="view-all">Посмотреть все товары</a>
        </div>
        <div class="popular-products__list">
            <article class="product-card product-card--discount">
                <div class="product-card__badge">%</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-old">52 руб.</span>
                    <span class="product-card__price-new">48 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__badge">%</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-old">52 руб.</span>
                    <span class="product-card__price-new">48 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__badge product-card__badge-combined">%</div>
                <div class="product-card__new">Новинка</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-old">52 руб.</span>
                    <span class="product-card__price-new">48 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
        </div>
    </div>
</section>
<div class="container">
    <section class="promo">
        <div class="promo__content">
            <h3 class="promo__title">Более 10 000 наименований </h3>
            <p class="promo__text">Инструмент для вашего бизнеса, разнообразных марок</p>
            <a href="#" class="promo__link">Перейти в каталог</a>
        </div>
    </section>
</div>
<section class="popular-products">
    <div class="container">
        <div class="popular-products__header">
            <h3 class="popular-products__title">Новинки</h3>
            <a href="#" class="view-all">Посмотреть все товары</a>
        </div>
        <div class="popular-products__list">
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__badge product-card__badge-combined">%</div>
                <div class="product-card__new">Новинка</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
            <article class="product-card product-card--discount">
                <div class="product-card__new">Новинка</div>
                <img src="../../../assets/disc.png" alt="disc" class="product-card__image">
                <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
                <p class="product-card__article">Артикул 00004</p>
                <p class="product-card__price-desk">Цена за штуку</p>
                <div class="product-card__price">
                    <span class="product-card__price-new">52 руб.</span>
                </div>
                <p class="product-card__article">Количество</p>
                <div class="product-card__controls">
                    <div class="product-card__quantity">
                        <button class="product-card__quantity-btn" type="button">-</button>
                        <input type="number" class="product-card__quantity-input" value="1" min="1">
                        <button class="product-card__quantity-btn" type="button">+</button>
                    </div>
                    <button class="product-card__add-to-cart">В корзину</button>
                </div>
                <button class="product-card__favorite" aria-label="Добавить в избранное"><img
                        src="../../../assets/favorites-dark.png" alt="favorites-btn"></button>
            </article>
        </div>
    </div>
</section>