<div class="container">
    <form class="todo-form" [formGroup]="formTodo" (ngSubmit)="submitForm()">
        <h1 class="todo-form__title">CREATE TODO FORM</h1>

        <div class="todo-form__field">
            <p class="todo-form__label">ТЕКСТ ЗАДАЧИ:</p>
            <input class="todo-form__input" type="text" formControlName="title" />
            <div
                *ngIf="(formTodo.controls['title'].invalid && formTodo.controls['title'].dirty) || formTodo.controls['title'].touched">
                <div *ngIf="formTodo.controls['title'].errors">
                    ТЕКСТ ЗАДАЧИ ВВЕДЕН НЕПРАВИЛЬНО
                </div>
            </div>
        </div>

        <div class="todo-form__field">
            <p class="todo-form__label">АВТОР ЗАДАЧИ:</p>
            <input class="todo-form__input" type="text" formControlName="userId" />
            <div
                *ngIf="(formTodo.controls['userId'].invalid && formTodo.controls['userId'].dirty) || formTodo.controls['userId'].touched">
                <div *ngIf="formTodo.controls['userId'].errors">
                    АВТОР ВВЕДЕН НЕПРАВИЛЬНО (он может состоять только из чисел)
                </div>
            </div>
        </div>

        <div class="todo-form__field">
            <p class="todo-form__label">ЗАДАЧА ВЫПОЛНЕНА</p>
            <input class="todo-form__input" type="text" formControlName="completed" />
            <div
                *ngIf="(formTodo.controls['completed'].invalid && formTodo.controls['completed'].dirty) || formTodo.controls['completed'].touched">
                <div *ngIf="formTodo.controls['completed'].errors">
                    НЕКОРРЕКТНЫЙ ОТВЕТ
                </div>
            </div>
        </div>

        <button class="todo-form__button" type="submit" [disabled]="formTodo.invalid">
            CREATE TODO
        </button>
    </form>
</div>