<div class="container">
    <form class="user-form">
        <h1 class="user-form__title">CREATE USER FORM</h1>

        <div class="user-form__field">
            <p class="user-form__label">NAME</p>
            <input class="user-form__input" type="text">
        </div>

        <div class="user-form__field">
            <p class="user-form__label">EMAIL</p>
            <input class="user-form__input" type="text">
        </div>

        <div class="user-form__field">
            <p class="user-form__label">WEBSITE</p>
            <input class="user-form__input" type="text">
        </div>

        <div class="user-form__field">
            <p class="user-form__label">COMPANY NAME</p>
            <input class="user-form__input" type="text">
        </div>

        <button class="user-form__button">
            CREATE USER
        </button>
    </form>
</div>