<div class="container">
    <form class="user-form" [formGroup]="form" (ngSubmit)="submitForm()">
        <h1 class="user-form__title">CREATE USER FORM</h1>

        <div class="user-form__field">
            <p class="user-form__label">NAME:</p>
            <input class="user-form__input" type="text" formControlName="name" />
            <div
                *ngIf="(form.controls['name'].invalid && form.controls['name'].dirty) || form.controls['name'].touched">
                <div *ngIf="form.controls['name'].errors">ИМЯ ВВЕДЕНО НЕПРАВИЛЬНО</div>
            </div>
        </div>

        <div class="user-form__field">
            <p class="user-form__label">EMAIL:</p>
            <input class="user-form__input" type="text" formControlName="email" />
            <div
                *ngIf="(form.controls['email'].invalid && form.controls['email'].dirty) || form.controls['email'].touched">
                <div *ngIf="form.controls['email'].errors">ЭМАЙЛ ВВЕДЕН НЕПРАВИЛЬНО</div>
            </div>
        </div>

        <div class="user-form__field">
            <p class="user-form__label">WEBSITE:</p>
            <input class="user-form__input" type="text" formControlName="website" />
            <div
                *ngIf="(form.controls['website'].invalid && form.controls['website'].dirty) || form.controls['website'].touched">
                <div *ngIf="form.controls['website'].errors">ВЕБСАЙТ ВВЕДЕН НЕПРАВИЛЬНО</div>
            </div>
        </div>

        <div class="user-form__field">
            <p class="user-form__label">COMPANY NAME:</p>
            <input class="user-form__input" type="text" formControlName="companyName" />
            <div
                *ngIf="(form.controls['companyName'].invalid && form.controls['companyName'].dirty) || form.controls['companyName'].touched">
                <div *ngIf="form.controls['companyName'].errors">ИМЯ КОМПАНИЙ ВВЕДЕНО НЕПРАВИЛЬНО</div>
            </div>
        </div>

        <button class="user-form__button" type="submit" [disabled]="form.invalid">
            CREATE USER
        </button>
    </form>
</div>