.todo-list {
  color: #000000;

  .todo-list__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fbfbfb;
    text-align: center;
    .todo-list__item {
      width: 22%;
      margin: 5px;
      background-color: #ffffff;
      box-shadow: 0px 20px 50px 0px rgba(60, 60, 59, 0.0705882353);
      color: #3c3c3b;
    }
  }
}

.button-add {
  position: fixed;
  bottom: 3%;
  right: 3%;
  scale: 1.5;
}
